<main class="contenedor">
    <form  method="post" class="default-form">
        <div class="campo">
            <label>Nuevo password</label>
            <input type="password" name="password" placeholder="Nuevo password" required>
        </div>
        <div class="campo acciones">
            <a href="/iniciar-sesion">Volver a iniciar sesión</a>

        </div>
        <div class="campo">
            <input type="submit" value="Guardar password" class="btn btn-azul">
        </div>
    </form>
</main>
